- port = request.port == 80 ? '' : ":#{request.port}"
- subdomain = attrs['subdomain'] || raise("No subdomain found for #{name}")
- link = "#{request.protocol}#{subdomain}.#{Env['BASE_DOMAIN']}#{port}/#{attrs['home_page']}"
.span3
  %h2= name
  %p= attrs['summary'] || raise("No summary found for #{name}")
  %p
    %a.btn{:href => link} View details &raquo;
