- port = request.port == 80 ? '' : ":#{request.port}"
- subdomain = attrs['subdomain'] || raise("No subdomain found for #{name}")
- link = "#{request.protocol}#{subdomain}.#{Env['BASE_DOMAIN']}#{port}/#{attrs['home_page']}"
- icon_name = attrs['icon'] || raise("No icon found for #{name}")

.app
  %a.btn{:href => link}
    %i{:class => icon_name, :style=>"font-size: 122px;"}
    .name= name
