- subdomain = attrs['subdomain'] || raise("No subdomain found for #{name}")
- home_page = attrs['home_page'] || Env['HOME_SLUG'] || raise("No home page found for #{name}")
- link = "#{request.protocol}#{subdomain}.#{Env['BASE_DOMAIN']}#{request.port_string}/#{home_page}"
- icon_name = attrs['icon'] || raise("No icon found for #{name}")

.app
  %a.btn{:href => link}
    %i{:class => icon_name, :style=>"font-size: 122px;"}
    .name= name
