- content_for :sidebar do
  %section
    %h1 Recent Changes
    %ul
      - @recent_changes.each do |recent_change|
        %li
          %a{:href => "http://#{recent_change['collection']}.via.#{request.domain}#{request.port_string}/#{recent_change['slug']}"}= "#{recent_change['collection']}/#{recent_change['slug']}"

%ul.overview
  %li
    &raquo;
    Copy any Creative Commons licensed page
    into an open collaboration framework
    %span.more= link_to "more info", 'https://help.github.com/articles/fork-a-repo', :target => '_blank'
  %li
    &raquo;
    Others can copy the project,
    contribute ideas
    and make improvements in their copy
  %li
    &raquo;
    The project acts as an idea seed, giving birth
    to trees of remixes, spreading through
    communities and trust networks

.open
  .action
    Enter a Web Page to Open
  = semantic_form_for @forked_page do |f|
    = f.inputs do
      = f.input :url,      :label => false, :placeholder => 'www.change-the-world.org'
    = f.actions do
      = f.action :submit, :as => :button, :label => 'Open Now'
