%ul.overview
  %li
    &raquo;
    Copy any Creative Commons licensed page
    into an open collaboration framework
    %span.more= link_to "more info", 'https://help.github.com/articles/fork-a-repo', :target => '_blank'
  %li
    &raquo;
    Others can copy the project,
    contribute ideas
    and make improvements in their copy
  %li
    &raquo;
    The project acts as an idea seed, giving birth
    to trees of remixes, spreading through
    communities and trust networks

.open
  .action
    Enter a Web Page to Open
  = semantic_form_for @forked_page do |f|
    = f.inputs do
      = f.input :url,      :label => false, :placeholder => 'www.change-the-world.org'
    = f.actions do
      = f.action :submit, :as => :button, :label => 'Open Now'
