!!! 5
/[if IEMobile 7] <html class="no-js iem7">
/[if lt IE 9] <html class="no-js lte-ie8">
/[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)] <html class="no-js" lang="en">
%head
  %meta{:charset => "utf-8"}/
  %title= Env['SITE_NAME']

  / Viewport slides: http://t.co/dKP3o1e
  %meta{:content => "True", :name => "HandheldFriendly"}/
  %meta{:content => "320", :name => "MobileOptimized"}/
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %link{:href => "/favicon.png", :rel => "icon"}/
  = stylesheet_link_tag    "application", :media => "all"
  :css
    h1, h2, h3, h4, h5, h6 { font-family: #{Env['HEADER_FONT']} !important; }
  = javascript_include_tag "application"
  = csrf_meta_tags

  / Fonts from Google"s Web font directory at http://google.com/webfonts
  %link{:href => "http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic", :rel => "stylesheet", :type => "text/css"}/
  - if Env['HEADER_FONT'].present?
    %link{:href => "http://fonts.googleapis.com/css?family=#{Env['HEADER_FONT'].gsub(' ','+')}:regular,italic,bold,bolditalic", :rel => "stylesheet", :type => "text/css"}/
%body{:class => 'no-sidebar'}
  %header{:role => "banner", :onclick => "window.location='#{root_url :host => CONFIG.home_domain }';", :style => banner_style}
    %hgroup
      %h1
        = Env['SITE_NAME']
        - if Env['SITE_MESSAGE']
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          %span.message
            = Env['SITE_MESSAGE']
      %h2
        = Env['SITE_TAGLINE']

  %nav{:role => "navigation"}
    -#%form{:action => "http://google.com/search", :method => "get"}
    -#  %fieldset{:role => "search"}
    -#    %input{:name => "q", :type => "hidden", :value => "site:openyourproject.org"}/
    -#    %input.search{:name => "q", :placeholder => "Search", :results => "0", :type => "text"}/
    %ul.main-navigation
      %li= link_to 'Home', root_url(:host => CONFIG.home_domain)
      - if Env['CREATE_PAGES']
        %li= link_to "Create #{Env['COLLECTION_LABEL']}", new_page_url(:host => CONFIG.home_domain)
  #main
    #content
      %div
        %article
          = yield

      -#%aside.sidebar
      -#  %section
      -#    %h1 Categories
      -#    %ul#pages
      -#      %li
      -#        %a{:href => "#"} Category 1...

  %footer
    Powered by
    = succeed "." do
      %a{:href => 'http://enlightenedstructure.org/Software_Zero/'} Enlightened Structure Software Zero
    &nbsp;

    Design by
    %a{:href => "http://octopress.org/"} Octopress
    &amp;
    = succeed "." do
      %a{:href => "http://www.arisascott.com/"} Arisa Scott

  /
    Env['RACK_ENV'] = #{Env['RACK_ENV'].inspect}
    Rails.env = #{Rails.env.inspect}
    Env['CREATE_PAGES'] = #{Env['CREATE_PAGES'].inspect}
